.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer-logo{
  width: 300px;
  margin: -15px 0px 10px -22px;
}

.topbar-logo{
  width: 300px;
  margin: 0px 0px 0px -15px;
}

.paging{
  color: red;
}

.form-question{
  margin-top: 25px;
}

.tabcustom{
  /* background-color: red; */
  max-width: 500px;
}

.tabcontent{
  max-width: 175px;  
}

.content-tab{
  margin-top: 20px;
}



.list-share{
  margin: 0;
  color: #b6b6b6;
  font-weight: 400;
  overflow: hidden;
  padding: 53px 0 0;
  font: 16px/20px "Montserrat", sans-serif;
}

.icon-share{
  font-size: 16px;
  line-height: 18px;
  margin: 0 10px 0 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
