.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer-logo{
  width: 300px;
  margin: -5px 0px 13px 0px;
}

.topbar-logo{
  width: 500px;
  margin: 0px 0px 0px 0px;
}

.MuiPagination-ul{
  justify-content: center;    
}

.form-question{
  margin-top: 25px;
}

.tab-custom{
  margin-top: 29px;
  max-width: 600px;
}

.tab-content{
  max-width: auto;  
}

.tab-column{
  width: 150px;
}

.txt-size{
  font-size: 11pt;
}

.list-share{
  margin: 0;
  color: #b6b6b6;
  font-weight: 400;
  overflow: hidden;
  padding: 53px 0 0;
  font: 16px/20px "Montserrat", sans-serif;
}

.icon-share{
  font-size: 16px;
  line-height: 18px;
  margin: 0 10px 0 0;
}

.pad-bot-1{
  padding-bottom: 20px;
}

.mar-top-1{
  margin-top: 10px;
}

.mar-top-2{
  margin-top: 20px;
}

.mar-top-3{
  margin-top: 30px;
}

.mar-top-4{
  margin-top: 40px;
}

.mar-top-5{
  margin-top: 50px;
}

.img-size{
  width: 90%;
}

.project-name{
  font-size: 17pt;
  font-weight: bold;
  text-transform: uppercase;  
  font-family: "Montserrat", sans-serif;
  margin: 0px 0px 12px 0px;  
}

.project-name a:hover{
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  color: #e6951a;
}

.product-detail-desc{
  font-size: 16pt;     
  /* font-family: "Montserrat", sans-serif; */
}

.collection-name{
  font-size: 12pt;
  font-family: "Montserrat", sans-serif;
}

.collection-name a:hover{
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  color: #e6951a;
}

.blog-text{
  font-size: 10pt;     
  font-family: "Montserrat", sans-serif;
}

.contact-text{
  font-size: 10pt;     
  font-family: "Montserrat", sans-serif;
}

@media only screen 
and (min-width: 1400px) 
and (max-width: 2000px) {
  .blog-detail {
    margin-bottom: -300px;
  }

  .reduce-margin{
    margin-bottom: -50px;
    margin-top: 30px;
  }

}

@media only screen 
and (min-width: 375px) 
and (max-width: 800px) {
  .reduce-margin{
    margin-bottom: -50px;    
  }

  .mar-top-2{
    margin-top: 0px;
  }
}

.image-zoom{
  transition: transform .5s;  
}

.image-zoom:hover {
  transform: scale(1.05);
}

.image-zoom-promo{
  transition: transform .5s;  
  padding: 3px;
}

.image-zoom-promo:hover {
  transform: scale(1.05);
}

.image-zoom-collection{
  transition: transform .5s;  
  padding: 10px;
}

.image-zoom-collection:hover {
  transform: scale(1.05);
}

.each-fade {
  display: flex;
  width: 100%;
}

.each-fade > div {
  width: 75%;
}

.each-fade > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-shadow{
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);  
}

.border-image{
  border-radius: 5px 5px 0px 0px;
}

.z-index{
  z-index: 0;  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
